body {
    background-color:rgba(216, 191, 216, 0.704);
    margin: 2em;
}

table, td{
    border: 2px solid rgb(206, 184, 206);
    border-collapse:collapse;
    color:#614c61;
    background-color:white;
    font-family: monospace;
    font-size: smaller;
    

} 
td {
    padding: 5px 10px;
}

h1 {
    color:#614c61;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 2em;
    font-size: larger;
}

h2 {
    color:rgb(129, 113, 129);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}

.red {
    background-color: red;
}

.button {
    color:#614c61;
    background-color: white;
    border-radius: 10px ;
    border: none;
    box-shadow: 2px 2px 5px 1px rgba(139, 123, 139, 0.583);
    font-family: monospace;
    font-size: smaller;
}

.button:hover {
    color: rgba(139, 123, 139, 0.583);
}

.allInputs{
    display: inline-flex;
    justify-content: space-evenly;
    color:#614c61;
    font-family: monospace;
    font-size: smaller;
    
}

.input {
   margin: 5px;
   border: none;

  

}

#cost {
    margin-top: 1.5em;

}

.tableDisplay {
    margin-top: 4em;
}