body {
    background-color:thistle
}

table, td{
    border: 1px solid black;
    border-collapse:collapse;
    background-color:aliceblue;

} 
td {
    padding: 5px 10px;
}

.red {
    background-color: red;
}

.button {
    
}